@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
}

$green: #47c420;
$red: #ff4262;
$blue: #1e2060;
$secondary-green: #93c63d;
$margin-bottom: 4rem;


body{
  font-family: 'Source Sans Pro', sans-serif !important;
  color: $blue !important;
}
code{
  color: inherit !important;
}
.custom-link{
color: $green !important;
}
.dflex--center{
  display: flex;
  justify-content: center;
}
.text--lead__space{
  margin: 2rem 0;
}
.btn--green{
  background-color: $green !important;
  color: white !important;
  &:hover {
    background-color: $secondary-green !important;
  }
}
.btn--red{
  background-color: $red !important;
  color: white !important;
  &:hover {
    background-color: $secondary-green !important;
  }
}
.btn--outline__green{
  border: 1px solid $green !important;
  color: $green !important;
  &:hover {
    background-color: #93c63d !important;
    color: white !important;
  }
}
.main--img__animation{
  animation: up-down 1.4s infinite ease-in-out alternate;
}
@keyframes up-down{
  from{
    transform: translatey(0px);
  }
  to{
    transform: translatey(-20px);
  }
}

.logo-icon{
  margin-right: 0.5rem;
}
.small-card{
  border:0 !important;
  height: 290px;
}
.card-img{
  background: url("../img/mi-play.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}
.options{
  list-style-type: none;
  border-left: 1px solid #d3d3d3;
}
.container-options{
  align-items: center;
  padding:  1rem;
}
.options li{
  padding: 0.5rem 0;
  font-size: 1.5rem;
}
.img-options{
  margin-right: 1rem;
}
.arrow-icon{
  margin-right: 2rem;
}
sup {
    top: -2.5em !important;
    padding: 5px 10px;
    background: #e6e6f6;
}

#custom-cards{
  background-image: url("../img/dot.svg");
  background-size: 30px;
}

.bi-gift-fill{
  font-size: 14px;
  position: relative;
  top: -4px;
  margin-right: 0.3rem;
}
.pricing-card-title{
  color: $red;
}

.extra-space-left{
  padding-left: 7rem !important;
}
@media (max-width: 400px) {
  .extra-space-left{
    padding-left: 1rem !important;
  }
  sup {
    top: -0.5em !important;
  }
  .carousel-indicators {
    top: 315px !important;
  }
}

/* FAQs */

.bg--green{
  background-color: $secondary-green !important;
}
.question--title__size{
  font-size: 1.2rem;
}

/* Quotes */
.carousel--space__bottom{
  margin-bottom:$margin-bottom+2;
}
.carousel-indicators {
    top: 90px;
}
.carousel-indicators [data-bs-target] {
  background-color:black !important;
}
.carousel--text{
  width: 80%;
  text-align: center;
}
.video-info{
  justify-content: flex-end;
  padding: 1rem;
}
.img-video{
  margin-right: 0.5rem;
}
.link-video{
  text-decoration: none;
  color: white;
}
.exampleModalLabel{
  color: $blue;
}
/* About */
.first-line{
  margin-top:2rem;
}
